<!DOCTYPE html>
<html>
<head>
  <title>Comments</title>
</head>
<body>

	<ul id="comments">

	</ul>


	<!-- LIBRARIES -->
	<script type="text/javascript" src="assets/javascripts/vendor/jquery.js"></script>
	<script type="text/javascript" src="assets/javascripts/vendor/underscore.js"></script>
	<script type="text/javascript" src="assets/javascripts/vendor/backbone.js"></script>

	<!-- APPLICATION CODE -->
	<script type="text/javascript" src="assets/javascripts/main.js"></script>
	<script type="text/javascript" src="assets/javascripts/app/models/comment.js"></script>
	<script type="text/javascript" src="assets/javascripts/app/collections/comments.js"></script>
	

	<!-- TEMPLATES -->
	<script id="comment_template" type="text/html">
		<span class="author"><%= author %> says: </span>
		<span class="comment"><%= comment %><span>
	</script>
	<script id="comment_form_template" type="text/html">
		<div class="new_comment">
			<span>Add a new comment:</span>
			<form>
				<div class="form_row">
					<input type="text" placeholder="Author name" class="author_name"/>
					<input type="text" placeholder="Comment" class="comment_body"/>
				</div>
				<div class="form_row">
					<input type="submit"/>
				</div>
			</form>
		</div>
	</script>
</body>
</html>
